body {font-family: Arial, Helvetica, sans-serif;}

#new_admin input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#new_admin input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#new_admin input[type=submit]:hover {
  opacity: 0.8;
}

#new_admin .container {
  padding: 16px;
}
